$font-family-main: 'Roboto', sans-serif;
$font-family-title: 'Roboto Mono', monospace;
$font-family-additional: 'Inconsolata', monospace;

$font-size-t1: 44px;
$font-size-t2: 36px;
$font-size-t3: 18px;
$font-size-t4: 16px;
$font-size-t5: 14px;
$font-size-t6: 12px;

$line-height-t1: 50px;
$line-height-t2: 42px;
$line-height-t3: 30px;
$line-height-t4: 24px;
$line-height-t5: 20px;
$line-height-t6: 18px;

$color-text-main: #555555;
$color-text-additional: #999999;
$color-text-light: #ffffff;
$color-accent: #6d56c1;
$color-accent-additional: #7b67c7;

$linear-gradient-background: linear-gradient(54deg, #4a4cb3, #cf9d9d);


