.background{
  background-color: $color-accent;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: $color-text-light;

  &::before{
    background: linear-gradient(54deg, rgba(74,76,179,0.95) 34%,rgba(207,157,157,0.95) 100%);
    //top: 0;
    //bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    content: '';
    z-index: 0;
  }
}